[sam]

# path to mame binary
mame_path: /usr/local/mame/bin/advmame

# path to mame config file, comment out to use the default
mame_config: /usr/local/mame/etc/advmame.rc

# window size (used only when fullscreen = false)
resolution: 800x600

# highest possible screen resolution will be used
fullscreen: false
